@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:80px;
    margin: 80px 150px;
    height: 170vh;
}
.mywork-title{
    position: relative;
}
.mywork-title h1{
    padding: 0 30px;
    font-size: 45px;
    font-weight: 500;
    font-family:"Roboto", system-ui;
    text-shadow:6px 5px 7px #c414c7;
}
.mywork-title img{
    position: absolute;
    bottom:0;
    right:0;
    z-index:-1;
}
.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:25px;

}
.mywork-container div{
    box-sizing: border-box;
    width:350px;
    height: 220px;
    transition: 0.5s;
    cursor: pointer;
}
.mywork-container div img{
    box-sizing: border-box;
    width:100%;
    height: 220px;
    transition: 0.5s;
    cursor: pointer;
}
.mywork-container img:hover{
    transform: scale(1.05);
    border:3px solid #ff00ff;
    border-radius: 10px;
}
.mywork-showmore{
    display: flex;
    gap:10px;
    border-radius: 50px;
    border:2px solid white;
    padding: 20px 40px ;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 80px;
    transition: 0.4s;
    cursor: pointer;
}
.mywork-showmore:hover{
    background: linear-gradient(270deg,#DF8908 50%,#B415FF 100%);
    transform: scale(1.05);
}


/*.............small screen................*/

@media(max-width:768px){
    .mywork{
        gap:40px;
        margin: 50px 70px;
        align-items: start;
        height: 160vh !important;
    }
    .mywork-title h1{
        padding: 0;
        font-size: 32px;
        font-weight: 600;
    }
    /* .mywork-title img{
        width:100px;
        margin-right: -20px;
    } */
    .mywork-container{
        grid-template-columns: 1fr 1fr;
        gap:30px;
    }
    .mywork-container div{
        width:300px;
        height: 230px;
    }
    .mywork-container img{
        width:100%;
        height:100% ;
        border-radius: 15px;
    }
    .mywork-showmore{
        display: none !important;
        /* padding: 12px 20px;
        font-size: 16px;
        margin: 20px auto; */
    }
    .mywork-showmore img{
        width:18px;
    }

}

@media(max-width:576px){
    .mywork{
        height: 300vh !important;
    }
    .mywork-title h1{
        padding: 0;
        font-size: 30px;
        font-weight: 500;
    }
    .mywork-container{
        grid-template-columns: 1fr;
        gap:30px;
    }
}