.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 80px 150px 60px;
    /* margin: 40px 150px 60px; */
    height: auto;
  /*   gap:80px;
    margin: 80px 150px;
    height: 135vh; */
}
.contact-title{
    position: relative;
}
.contact-title h1{
    padding: 0 30px;
    font-size: 45px;
    font-weight: 500;
    font-family:"Roboto", system-ui;
    text-shadow:6px 5px 7px #c414c7;
}
.contact-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.contact-section{
    display: flex;
    gap: 80px;
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.contact-left h1{
    font-size: 42px;
    font-weight: 500;
    font-family:"Roboto", system-ui;
    background: linear-gradient(270deg,#DF8908 50%,#B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p{
    max-width: 500px;
    color: #bebaba;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 30px;
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap:30px;
    font-size: 22px;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap:20px
}
.media-links a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin: 2rem 1rem;
    transition: all ease 0.4s;
}
.media-links a:hover{
    background: linear-gradient(267deg,#DA7C25 0.36%,#B923E1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.4);
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:20px;
    /* border: 1px solid #c7a17d ; */ 
}
.contact-right label{
    color:#bebaba;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact-right input{
    border: none;
    width:580px;
    height: 55px;
    padding-left: 20px;
    border-radius: 5px;
    background: #32323c;
    color: #A0A0A0;
    font-family: outfit;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact-right textarea{
    width: 550px;
    border: none;
    border-radius: 5px;
    padding: 20px;
    background:#32323c;
    color: #A0A0A0;
    font-family: outfit;
    font-size: 16px;
}
.contact-right .button{
    width:600px;
}
.contact-submit{
    border: none;
    color:white;
    border-radius: 50px;
    background: linear-gradient(270deg,#DF8908 50%,#B415FF 100%);
    font-size: 20px;
    font-weight: 600;
    padding: 14px 55px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.contact-submit:hover{
    transform: scale(1.06);
}
.contact-reset{
    padding:10px;
    font-size:20px;
    border-radius:20px;
    cursor:pointer;
    background:orange;
}

/*.............small screen.............*/

@media(max-width:768px){
    .contact{
        gap:20px;
        margin: 60px 50px;
        align-items: start;
        height: 145vh;
    }
    .contact-title h1{
        padding: 0;
        font-size: 32px;
        font-weight: 600;
    }
    .contact-title img{
        width:90px;
        margin-right: -20px;
    }
    .contact-section{
        flex-direction: column;
        gap:30px;
    }
    .contact-left h1{
        font-size: 32px;
        text-decoration:underline rgb(192, 110, 17) dashed;
    }
    .contact-left p{
        font-size: 16px;
        line-height: 24px;
    }
    .contact-detail{
        gap: 15px;
    }
    .contact-detail img{
        width: 25px;
    }
    .contact-right label{
        font-size: 14px;
    }
    .contact-right input{
        font-size: 16px;
        width: 100%;
    }
    .contact-right textarea{
        width:95%;
        font-size: 16px;
    }
    .contact-submit{
        font-size: 16px;
        font-weight: 600;
        padding: 14px 30px;
    }
    .buttons{
        margin-bottom: -2rem;
    }
    .contact-reset{
        padding: 6px;
    }
    .contact-left h1{
        display: none !important;
    }
}

@media(max-width:576px){
    .contact{
        height: 140vh;
        width:440px;
    }
    .contact-left h1{
        font-size: 28px;
        text-decoration:underline rgb(192, 110, 17) dashed;
    }
    .contact-left p{
        font-size: 14px;
        line-height: 22px;
    }
    .contact-detail{
        gap: 10px;
        font-size: 20px;
    }
    .contact-detail p a{
        font-size: 16px !important;
    }
    .contact-detail img{
        width: 20px;
    }
  
    .media-links i{
        font-size: 20px !important;
    }
    form{
        padding: 25px 20px !important;
        width: 400px;
    }
    .contact-right label{
        font-size: 14px;
    }
    .contact-right input{
        font-size: 14px;
        width: 90%;
    }
    .contact-right textarea{
        width:90%;
        font-size: 16px;
    }
    .contact-submit{
        font-size: 14px;
        font-weight: 500;
        padding: 10px 20px;
    }
    .buttons{
        margin-bottom: -2rem;
    }
    .contact-reset{
        padding: 6px;
    }


}
