@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.footer{
    margin: 50px 150px;
    display: flex;
    flex-direction: column;
    gap:30px;

}
.footer-top{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap:15px;
}
.footer-top p{
    font-size: 16px;
    max-width: 450px;
    color: #bebaba;
}
.footer-top h2{
    font-size: 34px;
}
.footer-bottom
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    color:#bebaba;
}
.footer-bottom-left{
    font-size: 17px;
}
.footer-bottom-right{
    display: flex;
    gap:25px;
    font-size: 17px;
}

/*..............small screen.............*/

@media(max-width:768px){
    .footer{
        margin: 30px 50px;
    }
    .footer-top h2{
        font-size: 28px;
        margin-top: 2rem;
        text-decoration: underline wavy rgb(153, 94, 45);
    }
    .footer-top p{
        font-size: 15px;
        width:320px;
        line-height: 22px;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 50px;
        gap:25px;
    }
    .footer-bottom p{
        font-size: 16px;
    }
}
@media(max-width:576px){
    .footer{
        margin-top: 2rem;
        width:440px;
    }
    .footer-top h2{
        font-size: 24px;
        text-decoration: none;
    }
}