@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.services{
    font-family:"poppins", system-ui;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    /* margin: 40px 150px 60px; */
    height: auto;
    margin-top: 3rem;
    padding: 80px 150px 60px;

   /*  gap:60px;
    margin: 80px 150px;
    height: 190vh; */
}
.services-title{
    position: relative;
    align-items: start !important;
    color:rgb(14, 13, 13);
}
.services-title h1{
    padding: 0px 30px;
    font-size: 44px;
    font-weight: 500;
    font-family:"Roboto", system-ui;
    /* text-decoration: 2px white underline; */
    padding-bottom: 5px;
    text-shadow:6px 5px 7px #c414c7;
    color:white;
}
.services-title img{
    position: absolute;
    bottom:0;
    right: 0;
    z-index:-1;
}
.services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    padding: 40px;
    border-radius: 10px;
    border: 2px solid white;
    transition: .2s;
    cursor: pointer;

}
.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:40px;
    margin-bottom: 60px;
}
.services-format h3{
    font-size: 24px;
    font-weight: 600;
}
.services-format h2{
    font-size:28px ;
    font-weight: 800;
    background: linear-gradient(270deg,#DF8908 50%,#B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-format p{
    color:#c5c1c1;
    font-size: 17px;
    line-height: 24px;
    max-width: 250px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.services-readmore{
    display:flex;
    gap:10px;
    align-items: center;
    margin-top: 10px;
}
.services-format:hover{
    border:2px solid #ff00ff;
    background-image: linear-gradient(30deg,#3f0028,#582300);
    transform: scale(1.05);
    transition: 0.5s;
}

/*.............small screen................*/

@media(max-width:768px){
    .services{
        align-items: start;
        gap:40px;
        margin: 20px 50px;
        height: 320vh;
    }
    .services-title h1{
        padding: 0;
        font-size: 30px;
    }
    .servicesDiv{
        flex-direction: column !important;
        width:600px;
    }
    .servicesDiv .summary{
        padding-left: 30px;
        letter-spacing: 1px;
    }
    /* .services-title img{
        width: 90px;
        margin-right: -20px;
    }
    .services-format{
        gap:8px;
        padding:20px ;
    }
    .services-format h2{
        font-size: 20px;
    }
    .services-format p{
        font-size: 15px;
        line-height:22px;
        width:250px;
    }
    .services-readmore p{
        width:80px;
    }
    .services-container{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    } */
}

@media(max-width:576px){
    .services{
        align-items: start;
        gap:40px;
        margin: 20px 50px;
        height: 320vh;
        width: 420px;
    }
    .services-title h1{
        padding: 0;
        font-size: 28px;
        font-weight: 500;
    }
    .servicesDiv{
        flex-direction: column !important;
        width:490px;
    }
    .servicesDiv .summary{
        padding-left: 30px;
        letter-spacing: 1px;
        text-align: justify;
        width: 440px !important;
    }
    /* .services-container{
        grid-template-columns: 1fr;
        gap: 20px;   
        text-align: center; 
    } */
    
    /* .services-format{
        gap:5px;
        padding:20px;
        padding-right:0px;
    } */
    /* .services-format h3{
        display: none;
    }
    .services-format h2{
        font-size: 16px;
    }
    .services-format p{
        font-size: 12px;
        line-height:20px;
        padding-right:15px;
        width:250px;
    } */
    /* .services-readmore p{
        width:90px;
    }
    .services-readmore{
        gap:0px;
    }
    .services-readmore img{
        width: 15px;
    }  */

}